/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    padding: 20px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}

header {
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.about aside {
    text-transform: uppercase;
}

.about aside h2{
    margin-bottom: 0.5em;
}


.about aside ul li{
    margin-bottom: 1em;
    text-decoration: underline #f8cd9c 5px;
    text-underline-offset: 0.4em
}

.about aside ul li a {
    color: #ad7a60;
    text-decoration: none;
    transition: text-shadow 0.3s ease-in-out;
}

a:hover {
    text-shadow: 0px 0px 5px #f8cd9c;
}

.nav__list {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__list li {
    display: flex;
    min-width: 100px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: text-shadow 0.3s ease-in;
}

.nav__list li:hover {
    text-shadow: -2px 2px 15px black;
}

#logo {
    font-size: 1.5rem;
    letter-spacing: 2px;
    transition: text-shadow 0.3s ease-in;
    max-width: 400px;
    flex-grow: 2;
}

#logo:hover {
    text-shadow: -3px 3px 15px black;
}

.about {
    margin-top: 40px;
}

aside {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
    #logo {
        font-size: 1.3rem;
        flex-grow: 1.2;
    }
    .nav__list li {
        min-width: 120px;
    }
}

/*@media (max-width: 768px) {
    #logo {
        font-size: 1.3rem;
        flex-grow: 1.1;
    }
    .nav__list li {
        min-width: 120px;
        font-size: 1.2rem;
    }
}*/

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    header {
        border: none;
        background-color: black;
        color: white;
        padding-bottom: 5px;
    }
    .nav__list {
        flex-direction: column;
    }

    #logo {
        display: none;
    }

    .nav__list li/*, #logo*/ {
        font-size: 1.4rem;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        justify-content: center;
        transition: none;
        flex-grow: 1;
    }

    .nav__list li:hover, .nav__list li:focus/*, #logo:hover, #logo:focus*/ {
        background-color: white;
        text-shadow: none;
        color: black;
    }

    .about {
        display: flex;
        margin-top: 0;
    }

    .about aside {
        margin: 2vh 3vw;
        display: flex;
        flex-direction: column;
    }

    .about aside ul {
        display: flex;
        flex-direction: column;
    }

    .about aside ul li {
        display: inline;
    }

    .about aside ul li a {
        text-decoration-color: #f8cd9c;
    }

    .about .photo {
        display: flex;
        flex-direction: column;
        width: 50vw;
        min-width: 150px;
        max-height: 500px;
    }
    .about .photo img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        max-width: 100%;
        min-width: 150px;
        max-height: 500px;
    }

    
    .about aside h2:last-of-type{
        margin-top: 1em;
    }
}

@media (max-width: 465px) {
    .about {
        flex-direction: column;
    }
    .about .photo {
        width: 100vw;
    }

    .about .photo img {
        object-position: center;
        object-fit: cover;
    }

    .about aside ul li{
        margin-bottom: 1.2em;
        font-size: 1;
    }

    .about aside h2 {
        color: #f6f2ed;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #e6ccb2;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 0.5em;
        margin-bottom: 0.7em;
    }

    .education {
        width: 100vw;
        height: 60vh;
        background-size: cover;
        background-image: url("./imgs/uni1.avif");
    }

    .education .brightness {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .65)
    }

    .education__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-top: 7%;
    }

    .education__content h2 {
        letter-spacing: 3px;
        font-size: 2em;
        margin-top: 6vh;
        display: block;
        color: white;
        border-bottom: 1px solid white;
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
    }

    .education__content h3 {
        font-size: 1.4em;
        font-weight: 500;
    }

    .education__content label {
        font-family: 'Roboto', sans-serif;
    }

    .education__places {
        width: 100%;
    }

    .education__places div {
        display: flex;
        align-items: center;
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .5);
        padding: 1rem 0 1rem 0;
    }

    .education__places div:last-child {
        margin-top: 3vh;
    }
}